<div class="row my-2">
    <p class="col-md-3">氏名</p>
    <p class="col-md-9"><%= guest.last_name %>　<%= guest.first_name %></p>
  </div>
   <div class="row my-2">
    <p class="col-md-3">フリガナ</p>
    <p class="col-md-9"><%= guest.last_name_kana %>　<%= guest.first_name_kana %></p>
  </div>
  <div class="row my-2">
    <p class="col-md-3">郵便番号</p>
    <p class="col-md-9"><%= guest.postal_code %></p>
  </div>
  <div class="row my-2">
    <p class="col-md-3">住所</p>
    <p class="col-md-9"><%= guest.address %></p>
  </div>
  <div class="row my-2">
    <p class="col-md-3">電話番号</p>
    <p class="col-md-9"><%= guest.telephone_number %></p>
  </div>
  <div class="row my-2">
    <p class="col-md-3">メールアドレス</p>
    <p class="col-md-9"><%= guest.email %></p>
  </div>