<div class="container">
  <h2>guest一覧</h2>
  <table class="table">
    <thaed>
      <tr>
        <th>ID</th>
        <th>名前</th>
        <th>フリカナ</th>
        <th>ステータス</th>
        <th></th>
      </tr>
    </thaed>
    <tbody>
      <% @guests.each do |guest| %>
      <tr>
        <td><%= guest.id %></td>
        <td><%= guest.last_name %><%= guest.first_name %></td>
        <td><%= guest.last_name_kana %><%= guest.first_name_kana %></td>
        <td>
          <% if guest.is_active == true %>
            <p class="text-success">有効</p>
          <% else %>
            <p class="text-secondary">退会</p>
          <% end %>
        </td>
        <td><%= link_to "詳細へ", admins_guest_path(guest.id), class: "btn-sm btn btn-primary" %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <div style="text-align:center">
    <%= paginate @guests %>
  </div>
</div>