<div class="container">
  <h2><%= @host.name %>のイベント一覧</h2>
   <div class="search-form text-right">
      <%= form_with url:  admins_event_post_event_post_search_path(@host.id), method: :get, local: true do |f| %>
        <%= f.label :" イベント検索:" %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
  <table class="table my-3">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>開催日時</th>
        <th>ステータス</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |events| %>
      <tr>
        <td><%= events.title %></td>
        <td><%= events.date_and_time %></td>
        <td><%= events.holding_flag %></td>
        <td><%= link_to "詳細へ", admins_event_path(events.id) %></td>
        <td><%= link_to "削除", admins_event_path(events.id), method: :delete, class: "class:'btn-sm btn-danger" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%= paginate @events %>
  </div>
</div>