<div class="container">
 <div class="row">
    <h2 class="col-md-3 my-3">登録情報</h2>
    <div class="col-9"></div>
  </div>
  <table class="table">
    <thaed>
      <tr><th>名前</th><td><%= @guest.last_name %> <%= @guest.first_name %></td></tr>
      <tr><th>カナ</th><td><%= @guest.last_name_kana %> <%= @guest.first_name_kana %></td></tr>
      <tr><th>郵便番号</th><td><%= @guest.postal_code %></td></tr>
      <tr><th>住所</th><td><%= @guest.address %></td></tr>
      <tr><th>電話番号</th><td><%= @guest.telephone_number %></td></tr>
      <tr class="border-bottom"><th>メールアドレス</th><td><%= @guest.email %></td></tr>
    </thaed>
  </table>
</div>