<div class="container">
  <h2>イベント投稿一覧</h2>
   <div class="ml-auto p-2 bd-highlight">
     <%= button_to "+",   new_hosts_event_path, method: :get  %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>ステータス</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |events| %>
      <tr>
        <td><%= events.title %></td>
        <td><%= events.holding_flag %></td>
        <td><%= link_to "詳細へ", hosts_event_path(events.id) %></td>
        <td><%= link_to "削除", hosts_event_path(events.id), method: :delete, class: "class:'btn-sm btn-danger" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @events %>
</div>