<div class="container">
  <div class="search-form text-right my-3">
    <%= form_with url: host_search_path, method: :get, local: true do |f| %>
      <%= f.label :" host検索:" %>
      <%= f.text_field :keyword, value: @keyword %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
  <table class="table">
    <thaed>
      <tr>
        <th>名前</th>
        <th></th>
      </tr>
    </thaed>
    <tbody>
      <% @hosts.each do |host| %>
      <tr>
        <td><%= host.name %></td>
        <td><%= link_to "詳細へ", host_path(host.id) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @hosts %>
  </div>
</div>