<div class="container">
  <h2>イベント更新</h2>
  <% if @event.errors.any? %>
    <%= @event.errors.count %>件のエラーが発生しました
    <% @event.errors.full_messages.each do |message| %><br>
      <%= message %>
    <% end %>
  <% end %>
  <%= form_with model: @event, url: hosts_event_path, local: true do |f| %>
    <div>
      <div class="field row my-3">
        <div class="col-4"><%= f.label :タイトル %></div>
        <div class="col-8"><%= f.text_field :title, size: 30 %></div>
      </div>
      <div class="field row my-3">
        <div class="col-4"><%= f.label :イベント画像 %></div>
        <div class="col-8"><%= f.attachment_field :image %></div>
      </div>
      <div class="field row my-3">
        <div class="col-4"><%= f.label :内容詳細 %></div>
        <div class="col-8"><%= f.text_area :introduction, size: "50x8"%></div>
      </div>
       <div class="field row my-3">
        <div class="col-4"><%= f.label :種類 %></div>
        <div class="col-8"><%= f.collection_select :genre_id, @genres, :id, :name, prompt: "選択してください"  %></div>
      </div>
      <div class="field row my-3">
        <div class="col-4"><%= f.label :開催日時 %></div>
        <div class="col-8"><%= f.text_field :date_and_time, size: 30 %></div>
      </div>
       <div class="field row my-3">
        <div class="col-4"><%= f.label :開催場所 %></div>
        <div class="col-8"><%= f.select :prefecture, Event.prefectures.keys, {prompt: "選択してください"}, class: "prefecture-select" %></div>
        <div class="col-4"></div>
        <div class="col-8"><%= f.text_field :address, size: 30 %></div>
      </div>
       <div class="field row my-3">
        <div class="col-4"><%= f.label :タグ %></div>
        <div class="col-8"><%= f.text_field :name, size: 30, value: @tag_list %></div>
      </div>
       <div class="field row my-3">
        <div class="col-4"><%= f.label :ステータス %></div>
        <div class="col-8"><%= f.select :holding_flag, Event.holding_flags.keys %></div>
      </div>
      <div class="actions row my-3">
        <div class="col-4"></div>
        <div class="col-4"><%= f.submit "更新する", class: "btn-sm btn-primary" %></div>
        <div class="col-4"></div>
      </div>
    </div>
  <% end %>
</div>