<div class="container">
  <h2>イベント一覧</h2>
  <div class="row my-3">
    <div class="bd-highlight col-md-6 text-lift"><%= button_to "+",   new_hosts_event_path, method: :get  %></div>
    <div class="search-form  col-md-6 text-right">
      <%= form_with url: hosts_event_search_path, method: :get, local: true do |f| %>
        <%= f.label :" イベント検索:" %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
  </div>
  <% @events.each do |event| %>
  <div class="row my-5">
    <div class="col-md-5 my-3">
      <%= link_to hosts_event_path(event.id) do %>
        <%= attachment_image_tag event,:image, :fill, 300,300, format: 'jpeg', fallback: "no_image.png", size: '300x300'%>
       <% end %>
    </div>
    <div class="col-md-6 m-3">
      <p>タイトル<br><%= link_to event.title,  hosts_event_path(event.id) %></p>
      <p>内容<br><%= event.introduction.truncate(40) %></p>
      <p>開催日時<br><%= event.date_and_time %></p>
      <p>いいね:<%= event.likes.count %></p>
      <p>
        <% event.tags.each do |tag| %>
          <%= tag.name %>
        <% end %>
      </p>
    </div>
  </div>
  <% end %>
  <div>
    <%= paginate @events %>
  </div>
</div>