<div class="container">
  <h2>イベント詳細</h2>
  <div class="row my-3">
    <div class="col-md-4">タイトル</div>
    <div class="col-md-8"><%= @event.title %></div>
  </div>
   <div class="row my-3">
    <div class="col-md-4">主催者</div>
    <div class="col-md-8"><%= @event.host.name %></div>
  </div>
  <div class="row my-3">
    <div class="col-2"></div>
    <div class="col-10">
      <%= attachment_image_tag @event, :image, :fill, 300, 300, format: 'jpeg',fallback: "no_image.png", size: '300x300' %>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-4">内容詳細</div>
    <div class="col-md-8"><%= @event.introduction %></div>
  </div>
  <div class="row my-3">
    <div class="col-md-4">種類</div>
    <div class="col-md-8"><%= @event.genre.name %></div>
  </div>
  <div class="row my-3">
    <div class="col-md-4">開催日時</div>
    <div class="col-md-8"><%= @event.date_and_time %></div>
  </div>
  <div class="row">
    <div class="col-md-4">ステータス</div>
    <div class="col-md-8"><%= @event.holding_flag %></div>
  </div>
  <div class="row my-3">
    <div class="col-md-4"></div>
    <div class="col-md-4"><%= link_to "参加者一覧", hosts_event_post_path(@event.id) %></div>
    <% if current_host.id == @event.host_id %>
        <div class="col-md-4"><%= link_to "編集する", edit_hosts_event_path(@event.id) %></div>
    <% else %>
    <% end %>
  </div>
</div>