  <% events.each do |event| %>
  <div class="row my-5">
    <div class="col-md-5 my-3">
      <% if current_host %>
        <%= link_to hosts_event_path(event.id) do %>
          <%= attachment_image_tag event,:image, :fill, 300,300, format: 'jpeg', fallback: "no_image.png", size: '300x300'%>
         <% end %>
      <% elsif current_guest  %>
        <%= link_to event_path(event.id) do %>
          <%= attachment_image_tag event,:image, :fill, 300,300, format: 'jpeg', fallback: "no_image.png", size: '300x300'%>
        <% end %>
      <% else %>
        <%= link_to admins_event_path(event.id) do %>
          <%= attachment_image_tag event,:image, :fill, 300,300, format: 'jpeg', fallback: "no_image.png", size: '300x300'%>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6 m-3">
      <p>タイトル<br>
      <% if current_host %>
        <%= link_to event.title, hosts_event_path(event.id) %></p>
      <% elsif current_guest  %>
        <%= link_to event.title, event_path(event.id) %>
      <% else %>
        <%= link_to event.title, admins_event_path(event.id) %>
      <% end %>
      <p>内容<br><%= event.introduction.truncate(40) %></p>
      <p>開催日時<br><%= event.date_and_time %></p>
      <p>参加人数:<%= event.event_entries.count %></p>
      <p>いいね:<%= event.likes.count %></p>
      <p>コメント:<%= event.comments.count %></p>
      <p>
        <% if current_host %>
          <% event.tags.each do |tag| %>
            <%= link_to tag.name, hosts_event_search_path(keyword: "##{tag.name}") %>
          <% end %>
        <% elsif current_guest  %>
          <% event.tags.each do |tag| %>
            <%= link_to tag.name, event_search_path(keyword: "##{tag.name}") %>
          <% end %>
        <% else %>
          <% event.tags.each do |tag| %>
            <%= link_to tag.name, admins_event_search_path(keyword: "##{tag.name}") %>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
  <% end %>
  <div>
    <%= paginate events %>