<div class="container">
  <div calss ="my-3">
    <%= image_tag 'friends-gc98a1dcf9_640.jpg', class: "d-block mx-auto top-mv" %>
    <p class="my-3">
      ボランティア参加時の不安。<br>
      募集と参加者のミスマッチ。<br>
      それらを少しでも減らせる手伝いができるように頑張っていきます。
    </p>
  </div>
  <p class="my-3">新着情報</p>
  <div class="row">
    <% @event.first(2).each do |event| %>
    <div class="col-md-6 px-2 card" style="width: 18rem;">
      <div class="img_frame">
        <%= link_to event_path(event.id) do %>
          <div class="bd-placeholder-img card-img-top my-3">
            <%= attachment_image_tag event, :image,  format: 'jpeg', fallback: "no_image.png", :class => "card-img-top", :alt => "Card image cap" %>
          </div>
        </div>
        <p class="card-title my-4 ml-3"><%= event.title %></p>
      <% end %>
      <p class="card-text mb-3 ml-3">開催日<span class="text-right"><%= event.date_and_time %></span></p>
    </div>
    <% end %>
  </div>
  <p class="text-right"><%= link_to "イベント一覧を見る", events_path %></p>
</div>