<div class="container">
  <h2><%= @host.name %>の情報編集</h2>
    <% if @host.errors.any? %>
      <%= @host.errors.count %>件のエラーが発生しました<br>
      <% @host.errors.full_messages.each do |message| %>
        <%= message %><br>
      <% end %>
    <% end %>
  <div class="row">
    <p class="col-md-3 my-3">guestID</p>
    <p class="col-md-3 my-3"><%= @host.id %></p>
    <div class="col-6"></div>
  </div>
  <div>
    <%= form_with model: @host, url: admins_host_path(@host.id), local: true do |f| %>
      <div class="field row my-3">
        <div class="col-md-3"><%= f.label :名前 %></div>
        <div class="col-md-9"><%= f.text_field :name %></div>
      </div>
      <div class="field row my-3">
        <div class="col-md-3"><%= f.label :郵便番号 %></div>
        <div class="col-md-9"><%= f.text_field :postal_code %></div>
      </div>
      <div class="field row my-3">
        <div class="col-md-3"><%= f.label :住所 %></div>
        <div class="col-md-9"><%= f.text_field :address %></div>
      </div>
      <div class="field row my-3">
        <div class="col-md-3"><%= f.label :電話番号 %></div>
        <div class="col-md-9"><%= f.text_field :telephone_number %></div>
      </div>
      <div class="field row my-3">
        <div class="col-md-3"><%= f.label :メールアドレス %></div>
        <div class="col-md-9"><%= f.text_field :email %></div>
      </div>
      <div class="field row my-3">
        <div class="col-md-3"><%= f.label :ステータス %></div>
        <div class="col-md-3"><%= f.radio_button :is_active, :true %>有効</div>
        <div class="col-md-3"><%= f.radio_button :is_active, :false %>無効</div>
  　     <div class="col-md-3"></div>
      </div>
      <div class="action row">
        <div class="col-3"></div>
        <div class="co-md-9"><%= f.submit "変更を保存する", class: "btn-sm btn-success" %></div>
      </div>
    <% end %>
  </div>
</div>