<div class="container">
  <div class="row my-3">
    <h2 class="col-md-6">host一覧</h2>
    <div class="search-form  col-md-6 text-right">
      <%= form_with url: admins_host_search_path, method: :get, local: true do |f| %>
        <%= f.label :" host検索:" %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
  </div>
  <table class="table">
    <thaed>
      <tr>
        <th>名前</th>
        <th>投稿数</th>
        <th>ステータス</th>
        <th></th>
      </tr>
    </thaed>
    <tbody>
      <% @hosts.each do |host| %>
      <tr>
        <td><%= host.name %></td>
        <td><%= host.event_ids.count %></td>
        <td>
          <% if host.is_active == true %>
            <p class="text-success">有効</p>
          <% else %>
            <p class="text-secondary">退会</p>
          <% end %>
        </td>
        <td><%= link_to "詳細する", admins_host_path(host.id), class: "btn-sm btn btn-primary" %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <div style="text-align:center">
    <%= paginate @hosts %>
  </div>
</div>