<div class="container">
  <% @events.each do |event| %>
  <div class="row my-5">
    <div class="col-md-5 my-3">
      <%= link_to event_path(event.id) do %>
        <%= attachment_image_tag event,:image, :fill, 300,300, format: 'jpeg', fallback: "no_image.png", size: '300x300'%>
      <% end %>
    </div>
    <div class="col-md-6 m-3">
      <%= link_to event_path(event.id) do %>
        <p>タイトル<br><%= event.title %></p>
      <% end %>
      <p>内容<br><%= event.introduction.truncate(40) %></p>
      <p>開催日時<br><%= event.date_and_time %></p>
    </div>
    <div class="col-1"></div>
  </div>
  <% end %>
  <div>
    <%= paginate @events %>
  </div>
</div>