<div class="container">
  <div class="row my-3">
    <h2 class=" col-md-6 my-3">イベント一覧</h2>
    <div class="search-form  col-md-6 text-right">
      <%= form_with url: admins_event_search_path, method: :get, local: true do |f| %>
        <%= f.label :" イベント検索:" %>
        <%= f.text_field :keyword, value: @keyword, placeholder: "#でタグ検索" %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
  </div>
  <div>
     <%= render 'event/index', events: @events %>
  </div>
</div>