<!DOCTYPE html>
<html>
  <head>
    <title>GoodEntry</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <% if admin_signed_in? %>
        <%= render 'layouts/header_admin' %>
      <% elsif host_signed_in? %>
        <%= render 'layouts/header_host' %>
      <% elsif guest_signed_in? %>
        <%= render 'layouts/header_guest' %>
      <% else %>
        <%= render 'layouts/header' %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
