<div class="container">
  <div class="row my-3">
    <h2 class="col-md-6"><%= @event.title %>の参加者一覧</h2>
    <div class="search-form col-md-6 text-right">
      <%= form_with url: admins_event_entry_event_entry_search_path(@event), method: :get, local: true do |f| %>
        <%= f.label :" guest検索:" %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
  </div>
  <table class="table my-3">
    <thad>
      <tr>
        <th>名前</th>
        <th>カナ</th>
        <th></th>
      </tr>
    </thad>
    <tbody>
       <% @guests.each do |guest| %>
      <tr>
        <td><%= guest.guest.last_name %><%= guest.guest.first_name %></td>
        <td><%= guest.guest.last_name_kana %><%= guest.guest.first_name_kana %></td>
        <td><%= link_to "詳細へ", admins_guest_path(guest.guest.id) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="my-3">
    <p><%= paginate @guests %></p>
  </div>
</div>